<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
    <title>EMSystem</title>
   
    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Update Employee</h2>

    <form th:action="@{/showFormForUpdate/{id}(id=${employee.id})}" th:object="${employee}" method="post" novalidate>
         
        <b>First Name:</b>
		<input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" required="required">
		<b>Last Name:</b>
		<input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" required="required">
		<b>Gender:</b>
		<select th:field="*{gender}" class="form-control" required="required">
			<option value="-" selected="selected">-</option>
			<option value="Mr">Mr</option>
			<option value="Mrs">Mrs</option>
		</select>
        <b>Department:</b>
		<select th:field="*{department}" class="form-control placeholder-select" required="required">
			<option value="" selected="selected">Choose department..</option>
			<option value="Web Designer">Web Designer</option>
			<option value="Programmer">Programmer</option>
			<option value="Marketing">Marketing</option>
			<option value="Human Resources">Human Resources</option>
			<option value="Support">Support</option>
			<option value="Research & Development">Research & Development</option>
			<option value="Sales">Sales</option>
		</select>
		<b>Email:</b>
		<input type="text" th:field="*{email}" class="form-control" placeholder="Email" required="required">
		<b>Phone:</b>
		<input type="text" th:field="*{phone}" class="form-control" placeholder="Phone Number" required="required">
		<b>Date Of Birth:</b>
		<input type="date" th:field="*{dateOfBirth}" class="form-control" placeholder="Date of Birth" required="required">
		<b>Address:</b>
		<input type="text" th:field="*{address}" class="form-control" placeholder="Address" required="required">
		<br>
        <button type="submit" class="btn btn-info col-2"> Update Employee</button>
    </form>
	<br>
    <a th:href = "@{/}" class="btn btn-warning"> Back to Employee List</a>
</div>
</body>
</html>